html {
  font-size: 62.5%;
}

body {
  max-width: 100%;
  background-color: white;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: rgb(44, 146, 248);
  display: flex;
  width: 100%;
}

h1 {
  font-size: 3em;
  color: white;
  margin-left: 6vw;
  /* width: 55vw; */
  display: flex;
}

.individual-card {
  display: flex;
  justify-content: space-around;
  height: 30vh;
  text-align:center;
  padding: 20px;
  border-bottom: 3px solid rgb(214, 214, 214);
}

.card-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30vw;
}

h2 {
  font-size: 2em;
}

.rating-release {
  display: flex;
  color: rgb(137, 136, 136); 
  font-size: 1em;
}

img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 900px) {
  h1 {
    color: aqua;
  }
}