#individualMovie {
    height: 100%;
    width: 100%;
    position: relative;
}

#individualMovie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#individualMovie section {
    position: absolute;
    bottom: 0;
    display: grid;
    grid-auto-rows: min-content;
    width: 100%;
    background-color: white;
    border: solid;
    border-color: black;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.fade-in {
    animation: fade-in 0.75s ease-in forwards, animate-info-panel .75s ease-in-out forwards;
}

@keyframes fade-in {
    0% {
      visibility: hidden;
      opacity: 0;
    }
    30% {
      visibility: hidden;
      opacity: 0;
    }
    60% {
      visibility: visible;
      opacity: 1;
    }
    100% {
      visibility: visible;
      opacity: 1;
    }
  }

  @keyframes animate-info-panel {
    0% {
      height: 0%;
    }
    100% {
      height: 60%
    }
  }

.info {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

#info1 {
    justify-content: space-between;
}

#info1 h1 {
  color: black;
}

#info1 h1,
#info2 p,
#info3 p,
#info5 h2 {
  margin: 0 2vw 0 10vw;
  align-items: center;
}

#info1 a {
    align-self: center;
    margin-right: 10vw;
}

#individualMovie p {
  font-size: 11px;
}

#info4 div,
#info4 p {
  display: flex;
  align-items: center;
  margin: 0 2vw 0 2vw
}

#info4 {
  width: 90%;
  background-color: #e1dddd;
  border-radius: 25px;
  justify-self: center;
}

#info5 {
  display: flex;
  flex-direction: column;
}

#info5 div {
  align-self: center;
}

/* desktop */
/* @media screen and (min-width: 800px) {
  h1 {
    color: blue;
  }
} */
